In [77]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn import model_selection
from sklearn.model_selection import cross_val_score
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import pandas as pd
from sklearn.metrics import accuracy_score
import numpy as np
import seaborn as sns
from sklearn import cluster, datasets
import matplotlib.pyplot as plt
import warnings

In [78]:
data = pd.read_csv(
    "adult.csv",
    names=[
        "Age", "Workclass", "fnlwgt", "Education", "Education-Num", "Martial Status",
        "Occupation", "Relationship", "Race", "Sex", "Capital Gain", "Capital Loss",
        "Hours per week", "Country", "Target"],engine='python',na_values="?")
data.drop(['Education-Num'], inplace = True, axis=1)

In [79]:
data.loc[data['Target'] == ' <=50K', 'Target'] = 0
data.loc[data['Target'] == ' >50K', 'Target'] = 1

In [80]:
columns_contain_missing_value = []
for column in data.columns.values.tolist():
    if ' ?' in data[column].value_counts().keys().tolist():
        columns_contain_missing_value.append(column)

#Replacing missing value with the mode
for missing_col in columns_contain_missing_value:
    data.loc[data[missing_col] == ' ?', missing_col] = data[missing_col].mode()[0]

In [81]:
cat_col = ['Workclass', 'Education', 'Martial Status','Occupation', 'Relationship', 'Race', 'Sex', 'Country']
le = preprocessing.LabelEncoder()
for col in cat_col:
    data[col] = le.fit_transform(data[col])

In [157]:
data_final_vars = data.columns.values.tolist()
y = data['Target']
X = data[['Workclass', 'Education', 'Martial Status','Occupation', 'Relationship', 'Race', 'Sex', 'Country']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)
X_test

,Workclass,Education,Martial Status,Occupation,Relationship,Race,Sex,Country
22278,3,15,0,0,4,4,0,38
8950,3,9,4,9,1,4,0,38
7838,3,7,2,11,0,4,1,38
16505,3,4,2,13,0,0,1,38
19140,3,1,0,13,1,4,1,38
12319,3,9,2,9,3,4,1,38
28589,1,11,5,7,1,2,0,38
10000,3,15,0,0,1,4,0,38
28530,1,8,0,9,4,4,1,38
24237,3,15,4,0,3,4,0,38
12227,3,7,4,0,3,4,0,38
821,3,12,4,9,1,4,0,38
25012,3,12,2,3,0,4,1,38
24579,3,11,2,9,2,4,0,38
29295,1,12,0,3,1,4,0,38
4763,0,9,0,10,1,4,1,38
10371,3,15,2,2,0,4,1,38
6964,3,10,2,9,0,1,1,18
9907,3,11,2,9,0,4,1,38
30594,3,11,2,2,0,4,1,38
28635,3,1,5,6,1,4,0,38
28819,3,15,2,2,0,2,1,38
26980,3,15,2,9,0,4,1,38
22148,3,15,4,2,1,4,1,38
21840,3,10,2,9,0,4,1,38
15334,5,14,2,9,0,4,1,38
20409,3,15,2,0,0,4,1,38
3695,5,15,0,11,4,4,0,38
1523,3,15,4,4,3,4,0,38
14833,3,11,4,5,1,4,1,38
...,...,...,...,...,...,...,...,...
20282,0,9,2,3,0,4,1,38
21987,3,15,0,5,2,2,1,38
28072,1,12,2,9,0,4,1,38
9211,3,8,2,9,3,4,0,38
11797,3,11,2,2,0,4,1,38
1165,3,11,0,0,1,2,0,38
31726,3,15,2,9,5,4,0,38
26649,3,9,4,0,3,1,1,35
16910,4,10,2,9,0,4,1,38
28568,1,1,4,2,3,4,1,38
16662,3,15,2,2,0,4,1,38
6156,3,15,4,7,3,4,1,38
2162,3,1,4,2,3,4,1,38
11083,1,7,2,0,0,4,1,38
12974,3,11,2,2,0,4,1,38
25215,3,12,2,9,0,4,1,38
4897,3,9,2,9,0,4,1,38
8553,3,8,4,7,3,4,0,38
2817,3,3,2,6,0,4,1,25
12714,6,10,2,9,0,4,1,38
21084,1,9,2,10,0,2,1,38
10927,5,15,2,11,0,4,1,38
11452,3,1,2,13,0,4,1,38
28609,3,11,2,2,0,4,1,38
21297,3,8,0,0,4,4,0,38
7694,4,15,2,3,0,4,1,38
10410,5,1,4,2,1,4,1,25
1043,3,9,2,3,0,4,1,38
30860,3,11,2,6,0,4,1,38
12467,3,11,2,2,0,4,1,38

In [170]:
k_means = cluster.KMeans(n_clusters=2,random_state=1)
#k_means.fit(y.reshape(-1, 1))
k_means.fit(X_train)
test= X_test.head(3)
ytest=y_test.head(3)
var= k_means.predict(test)
print(var)
accuracy_score(var, ytest)
#print("cluster centers are", k_means.cluster_centers_)

[0 0 0]

1.0